/*************************JQUERY UI******************************/
@import '~jquery-ui/themes/base/all.css';
/******************************************CORES***********************************************/
$cor-aplicacao:rgb(241, 55, 55);
/********************************************MEU CSS************************************************/
*{
    margin: 0;
    padding: 0;
}
div{
    position: relative;
    box-sizing: border-box;
}

table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.tableFixHead {
  overflow: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/********************************************LAYOUTS************************************************/
@import 'layouts.scss';
/********************************************COMPONENTS************************************************/
@import 'components.scss';